{
	"__default__" : {
		"time" : "01:00:00",
		"mem" : 4000,
		"N" : 1
	},
	"trim" : {
		"time" : "03:00:00",
		"mem" : 5000,
		"N" : 1
	},
	"map" : {
		"time" : "10:00:00",
		"mem" : 15000,
		"N" : 1
	},
	"merge" : {
		"time" : "10:00:00",
		"mem" : 5000,
		"N" : 1
	},
	"mark_duplicates" : {
		"time" : "10:00:00",
		"mem" : 15000,
		"N" : 1
	},
	"prune" : {
		"time" : "01:00:00",
		"mem" : 4000,
		"N" : 1
	},
	"versions" : {
		"time" : "00:01:00",
		"mem" : 1000,
		"N" : 1
	}
}
